pandas 
numpy
matplotlib
python-box == 6.0.2
pyYAML
ensure==1.0.2
joblib
types-pyYAML
Flask
Flask-Cors

-e . # why -e? https://stackoverflow.com/questions/46951332/what-does-e-mean-in-a-requirements-txt-file

#